//collors
$color-primary: #1D1F22;
$color-primary-midl: #8D8F9A;
$color-primary-active: #5ECE7B;
$color-primary-light: #ffff;
$color-background:rgba(57, 55, 72, 0.22);
$color-out-of-stock: rgba(141, 143, 154, 1);
$color-hover-light: #EEEEEE;

//Fonts
$font-main: 'Raleway', sans-serif;
$font-paragraph: 'Roboto', sans-serif; 
$font-attribetes: 'Source Sans Pro', sans-serif;

//Shadow 
$shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);

