@import './styles/colors.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-family: $font-main;
  color: $color-primary;
}

.app{
  max-width: 1440px;
  width: 100%;
  border: 1px solid black;
  padding: 0 100px;
  margin: 0 auto; 
}